@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("assets/1297742.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }
  main{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    width: 100vw;
    gap: 30px;
  }

  .perfill{
    display: flex;
    flex-direction: column;
  }

.perfill img{
   width: 200px; 
   height: 200px;
   margin-bottom: 14px;
   border-radius: 50%;
   border: solid  #EB3B09;
}

.perfill span{
    text-align: center; 
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
}
.perfill a{
    text-decoration: none;
    color: #98eb39;
}
.linkSession{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button{
    width: 326px;
height: 49px;
border: 2px solid #EB3B09;
border-radius: 4px;
}
button {
    color: #EB3B09;
}
footer{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}