@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #BB99DD14;
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }
  main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .perfill{
    display: flex;
    flex-direction: column;
  }

.perfill img{
   width: 200px; 
   height: 200px;
   margin-bottom: 18px;
   border-radius: 50%;
   border: solid  #C4C4C4;
}

.perfill span{
    text-align: center; 
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
}
.perfill a{
    text-decoration: none;
    color: #BB99DD;
}
.linkSession{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button{
    width: 326px;
height: 49px;
border: 2px solid #BB99DD;
border-radius: 4px;
}
button {
    color: #BB99DD;
}
footer{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}